.outer{
  margin-top:30px;
  border:1px solid black;
  height:500px;
  border-radius: 5px
}

.inner-1{
  margin-top: 10px;
}

.element{
  border-radius: 5px;
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
}

span.icon{
  margin-right:10px;
}

div.done{
  background-color: #8FBC8F;
  border-color: black;
}
